/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-04-18, 20:46:53
    Author     : Ja
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

div#all {
    width: 1224px;
    /*background-color: green;*/
    margin: 0px auto;
    position: relative;
}

div#leftColumn {
    float: left;
    width: 670px;
}

div#rightColumn {
    float: right;
    /*background-color: green;*/
    
}

#gameCanvas {
    /*margin-top: 100px;*/
}

/*div#menu{
    position: absolute;
    width: 250px;
    top: 0px;
    background-color: red;
}*/

/*div.menuItem{
    display: inline;
    margin: 0px 30px;
    font-size: 20px;
    cursor: pointer;
}*/

div#divGame, div#divSettings, div#divCurrentText {
    /*position: absolute;*/
    /*top: 50px;*/
    /*width: 1024px;*/
    /*padding-top: 50px;*/
}

/*div#divGame{
    background-color: green;
    width: 1004px;
    padding: 10px;
}*/

div#divGameMaxSize {
    /*    width: 670px;*/
    border: 1px solid black;
    padding: 10px;
    /*float:left;*/
}

#gameCanvas {
    border: 1px solid black;
}

div#divSettings {
    /*background-color: yellowgreen;*/
    width: 500px;
    /*font-size: 18px;*/
    /*font-size: 12px;*/
    /*float: right;*/
}

/*settings*/
.settingsSpinner {
    width: 50px;
}

#divSettings table {
    text-align: right;
    border: 1px solid black;
    font-size: 14px;
}

table#tableNumbers {
    /*float: left;*/
    padding: 5px;
    margin: 10px;
    margin-top: 0px;
}

div#settingsColors {
    /*float: left;*/
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    /*background-color: orange;*/
    /*font-size: 14px;*/
}

table#tableGradient, #tableColors2{
    /*font-size: 14px;*/
    margin-bottom: 10px;
}

table#tableColors {
    margin-top: 10px;
    width: 100%;
}

table#tableColors td{
    /*margin-top: 10px;*/
    /*width: 100%;*/
    padding: 1px 5px;
    /*margin: 0px auto;*/
}

table#tableColors td.tdcleft{
    /*padding: 1px 0px;*/
    padding: 1px 1px;
    text-align: right;
}

table#tableColors td.tdcmiddle{
    padding: 1px 0px;
}

table#tableColors td.tdcright{
    /*padding: 1px 0px;*/
    padding: 1px 1px;
    text-align: left;
}


div.clrsmp {
    width: 20px;
    height: 20px;
    /*background-color: red;*/
    border: 1px solid black;
}

.clrsmp2{
    width: 55px;
    font-size: 12px;
    font-family: monospace;
}

/*settings*/

#taCurrentText {
    resize: none;
    text-align: left;
    /*font-family: monospace;*/
    /*font-size: 10px;*/
    /*line-height: 15px;*/    
    /*text-space-collapse:preserve-breaks;*/
    margin-top: 20px;
    width: 374px;
}
